html {
  height: 100%;
  font-size: 25px;
  font-weight: bold;
  color: black;
  font-family: "Courier New", Courier, monospace;
}
body {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  min-height: 100%;
  margin: 0px;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 1/1/2/4;
  font-size: 50px;
  margin-bottom: -50px;
  padding-top: 10px;
}
.gameWindow {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 6fr 1fr;
  grid-area: 2/2/4/3;
  background-color: white;
  border: 5px solid rgb(0, 0, 0);
  height: 500px;
  width: auto;
  margin-top: -50px;
}

#skullScoreboard,
#heartScoreboard {
  height: 200px;
  width: auto;
  margin-bottom: auto;
}

.playerNameplate {
  font-size: 25px;
  font-weight: bold;
  color: black;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: auto;
}

#outcomeBanner {
  grid-area: 3/2/4/3;
  display: flex;
  align-items: center;
  justify-content: center;
}

#outcomeBanner > img {
  height: 50px;
  width: auto;
}
@keyframes restart {
  0% {opacity: 0;}
  25% {opacity: 25;}
  50% {opacity: 50;}
  75% {opacity: 75;}
  100% {opacity: 100;}
}

#outcomeBanner > button {
  height: 50px;
  width: auto;
  background-color: white;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  font-weight: 800;
  animation-name: restart;
  animation-duration: 10s;
}

#outcomeBanner > button:hover {
  font-size: 30px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 3/1/4/4;
  background-color: black;
  color: white;
  padding: 5px;
  font-weight: normal;
}

.gameBoardDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-area: 2/2/3/3;
  padding: 15px;
}

.boardButtons {
  background-color: white;
  border: 2px solid black;
  font-size: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boardButtons > img {
  width: 75px;
  height: auto;

}

#zone0,
#zone3,
#zone6 {
  border-left: none;
}

#zone0,
#zone1,
#zone2 {
  border-top: none;
}

#zone2,
#zone5,
#zone8 {
  border-right: none;
}

#zone6,
#zone7,
#zone8 {
  border-bottom: none;
}

#heartWindow {
  grid-area: 1/1/4/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#skullWindow {
  grid-area: 1/3/4/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
